<link rel="stylesheet" href="/css/header.css">


<header>
    <div class="logo-part">
        <a href="/">
            <img src="/images/logo-1.png" alt="logo">
            <span class="logo-name">Socio</span>
        </a>
    </div>
    <div class="signing-part">
        <% if(locals.user){ %>
            <a class="userName" href="/users/profile"> <%= user.name %> </a>
            <a href="/users/sign-out"> Sign Out </a>
        <% }else{ %>
            <a href="/users/help"> Customer support </a>
        <% }%>
    </div>
</header>