<link rel="stylesheet" href="/css/feedback.css">

<div class="feedback-main">
    <div class="feedback-container">
        <h2>Feedback message sent successfully.</h2>
        <h2>Thank you for using Socio.</h2>
        <a href="/">return back to home</a>
    </div>
</div>