<link rel="stylesheet" href="/css/home.css">
<div class="home-container">
    <div class="home-content">
        <div class="logo-part">
                <img src="/images/logo-1.png" alt="logo">
                <span class="logo-name">Socio</span>
        </div>
        <p class="home-content-para">Welcome to Socio, your ultimate social media platform crafted with cutting-edge technologies like Node.js,
            Express.js, Passport.js, SCSS, and MongoDB. Join our vibrant community where you can connect with friends,
            share your moments, and discover new experiences seamlessly.</p>
            <div class="home-signing">
                <button onclick="location.href='/users/sign-in'">Sign In</button>
                <button onclick="location.href='/users/sign-up'">Sign Up</button>
            </div>
    </div>
</div>