<link rel="stylesheet" href="/css/sign_In.css">

<div class="sign-in-container">
    <div class="sign-in-main">
        <form action="/users/create-session" method="post" class="sign-in-form">
            <span><input type="text" name="username" placeholder="Email" required></span>
            <span><input type="password" name="password" placeholder="Password" required></span>
            <button class="sign-in-btn" type="submit">Sign In</button>
        </form>
    </div>
</div>