<link rel="stylesheet" href="/css/sign_Up.css">

<div class="signup-container">
    
    <div class="signup-main">
        <% if(alert.length) {%>
            <div class="alert"> <%= alert %> </div>
        <% } %>
        <form action="/users/create" method="post" class="signup-form" enctype="multipart/form-data">
            <h2>Sign Up</h2>
            
            <span><input type="text" name="name" placeholder="Name" required></span>
            <span><input type="file" name="profileImage" id="image-upload" accept="image/*"></span>
            <span><input type="email" name="username" placeholder="Username" required></span>
            <span><input type="password" name="password" placeholder="Password" required></span>
            <span><input type="password" name="confirmPassword" placeholder="Confirm password" required></span>
            <button class="signup-btn" type="submit">Sign Up</button>
            <a href="/users/sign-in">Already a user?  Sign In</a>
        </form>
    </div>
</div>