<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Dashboard</title>
    <link rel="stylesheet" href="/css/user_feed.css">
    <link rel="stylesheet" href="/css/user_search_result.css">
</head>

<body>

    <!-- Header -->
    <header class="header">
        <div class="logo">Socio</div>
        <form id="user-search-form" method="post" action="/users/search">
            <input type="text" name="name" placeholder="Search" aria-label="Search users">
            <button>Search</button>
        </form>
        <img src="<%= user.imageUrl %>" alt="profile pic" class="profile-icon"/>
    </header>

    <header class="header-responsive">
        <div class="logo">Socio</div>
        <button id="toggle-menu" class="toggle-btn">☰</button>
        <div class="header-menu" id="header-menu">
            <button class="close-btn" id="close-header-menu">×</button>
            <form id="user-search-form" method="post" action="/users/search">
                <input type="text" name="name" placeholder="Search" aria-label="Search users">
                <button>Search</button>
            </form>
        </div>
    </header>
    
    <!-- main container -->
    <div class="container">
    
        <!-- Main Content -->
        <main class="main-content">
            <section class="posts">
                <div id="search-result" class="search-result">
                    <% allUsers.forEach(user => { %>
                        <div>
                            <a href="/users/<%= user._id %>"><%= user.name %></a>
                        </div>
                    <% }) %>
                </div>
            </section>
        </main>
    </div>
</body>

</html>
