<link rel="stylesheet" href="/css/user_posts.css">
<div class="news-feed-container">
    <h1>News feed</h1>
    <form class="create-post-form" method="post" action="/create-post">
        <textarea name="content" placeholder="Write something.."></textarea>
        <button type="submit">Post</button>
    </form>
</div>