// Variables
$primary-color: #f4f4f4;
$text-color: #333;
$secondary-color: #fff;

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-template($columns) {
    display: grid;
    grid-template-columns: $columns;
    gap: 20px;
}

// Global Styles
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.alert{
    padding: 0.25rem 1rem 0.25rem 1rem;
    border: 2px red;
    background-color: rgb(240, 208, 208);
    color: red;
    border-radius: 1rem;
    margin-bottom: 1rem;
    z-index: 100;
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.success{
    padding: 0.25rem 1rem 0.25rem 1rem;
    border: 2px green;
    background-color: rgb(208, 240, 208);
    color: green;
    border-radius: 1rem;
    margin-bottom: 1rem;
    z-index: 100;
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
input:focus{
    outline: none;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px 50px 20px 50px;
    
    input{
        height: 30px;
        width: 500px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .profile{
        height: 40px;
        width: 40px;
        border-radius: 40px;
        background-color: #333;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
}

// Sidebar Styles
.sidebar, .friends-list {
    padding: 20px;
    width: 300px;

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 10px 0;
            color: $text-color;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .pages {
        margin-top: 20px;

        h4 {
            font-size: 1rem;
            margin-bottom: 10px;
        }
    }
}

// Main Content Styles
main {
    padding: 20px;
    width: 100%;
    background-color: $primary-color;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;

    .posts{
        width: 100%;


        .new-post-section{
            display: flex;
            gap: 1rem;

            // .create-post-head{
            //     width: 200px;
            // }

            .create-post{
                width: 100%;
                resize: none;
                padding: 10px;
                border-radius: 10px;
            }
            
            button{
                border-radius: 5px;
                padding: 5px 15px 5px 15px;
                font-size: 16px;
            }
        }
    }

    section {
        margin-bottom: 20px;

        h2 {
            font-size: 1.2rem;
            margin-bottom: 10px;
            text-align: center
        }

        .story-grid, .post-grid {
            @include grid-template(repeat(auto-fit, minmax(150px, 1fr)));

            .story, .post {
                background-color: $secondary-color;
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                text-align: center;

                img {
                    width: 100%;
                    height: auto;
                }

                p {
                    padding: 10px;
                    font-size: 0.9rem;
                    color: $text-color;
                }
            }
        }

        .post-grid .post {
            .post-content {
                padding: 10px;

                h3 {
                    font-size: 1rem;
                    color: $text-color;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 0.9rem;
                    margin: 10px 0;
                }

                .actions {
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.9rem;

                    span {
                        color: $text-color;
                    }
                }
            }
        }
    }
}

// Friends List Styles
.friends-list {
    
    .friends-search{
        input{
            width: 250px;
            border-radius: 5px;
            padding: 10px;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            margin: 15px 0;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }

            span:first-child {
                flex-grow: 1;
                font-size: 0.9rem;
                color: $text-color;
            }

            span:last-child {
                font-size: 0.8rem;
                color: gray;
            }
        }
    }
}
