.contact-us-container {
  height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  gap: 2.5rem;
  background-color: #F7EEDD;
}

.contact-us-container h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-us-container .formDiv {
  width: 40%;
}

.contact-us-container .formDiv #contactForm {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
}

.contact-us-container .formDiv #fullName {
  height: 2.5rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: .25rem;
  padding-left: .5rem;
  background-color: #41C9E2;
}

.contact-us-container .formDiv #fullName::placeholder {
  color: #191a1b;
}

.contact-us-container .formDiv #mobile::placeholder {
  color: #191a1b;
}

.contact-us-container .formDiv #email::placeholder {
  color: #191a1b;
}

.contact-us-container .formDiv #message::placeholder {
  color: #191a1b;
}

.contact-us-container .formDiv .formInnerDiv {
  display: flex;
  gap: 0.25rem;
  width: inherit;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
}

.contact-us-container .formDiv #email {
  height: 2.5rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: .25rem;
  padding-left: .5rem;
  background-color: #41C9E2;
}

.contact-us-container .formDiv #mobile {
  /* margin-top: 0.25rem; */
  background-color: #41C9E2;
  height: 2.5rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: .25rem;
  padding-left: .5rem;
}

.contact-us-container .formDiv #message {
  width: 99%;
  border: none;
  font-size: 1rem;
  border-radius: .25rem;
  padding: .5rem;
  background-color: #41C9E2;
  resize: none;
}

.contact-us-container .formDiv #contactButton {
  margin-top: 2rem;
  padding: .5rem .75rem .5rem .75rem;
  border-radius: 1rem;
  font-weight: 600;
  background-color: #41C9E2;
  font-size: 1.2rem;
  /* filter: drop-shadow(0px 3px rgb(18, 239, 206)); */
  align-self: center;
  border: none;
}

.contact-us-container .formDiv #contactButton:hover {
  cursor: pointer;
}
