header {
  height: 10vh;
  background-color: #03045e;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem 0 2rem;
  box-sizing: border-box;
  gap: 2rem;
}

header a {
  text-decoration: none;
  color: white;
}
